<!-- <div>
    <p-card
     header="{{item?.name}}" 
     subheader="{{item && item.price && item.price.length>0
                ?(item.price|currency: 'VND':'symbol':'0.0-0'):'?'
                }}" 
     [style]="{width: '360px'}" 
     
     styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img [src]="'data:image/jpg;base64,'+item.itemImage.data" alt="item?.name">
        </ng-template>
        <p class="cart">
            {{item?.description}}
        </p>
        <ng-template pTemplate="footer">
            <p-button label="Order" icon="pi pi-check" (click)="order()"></p-button>      
        </ng-template>
    </p-card>
</div> -->
