<!-- <p-accordion class="myCart" *ngIf="table">
    <p-accordionTab header="Đơn hàng của {{table.name}}:{{
        item?items.length:0}} món" [selected]="true">
     <div class="cart myCart">
         <p-table responsiveLayout="scroll" [value]="items">
             <ng-template pTemplate="header" let-columns>
                 <tr>
                     <th>Hình</th>     
                     <th>Món ăn</th>    
                     <th>Đơn vị</th>    
                     <th>Số lượng</th>   
                     <th>Thành tiền</th>            
                 </tr>
             </ng-template>
             <ng-template pTemplate="body" let-item let-columns="columns">
                 <tr>
                     <td> <img [src]="item.itemImage" alt="item.name"></td>     
                     <td>{{item.name}}</td>   
                     <td></td>
                     <td> {{ item.price }}</td>           
                 </tr>
            </ng-template>
             <ng-template pTemplate="summary">
                 your summary template
             </ng-template>
         </p-table>
     </div>
    </p-accordionTab>
    
</p-accordion> -->